body {
  background: linear-gradient(to right, #8b5c9c, #2e2e3f);
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.login-container {
  max-width: 400px;
  margin: 150px auto 0;
  padding: 40px 30px;
  background-color: rgba(112, 0, 172, 0.05);
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px;
  border: 2px solid #fff;
  border-radius: 25px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}

input::placeholder {
  color: #ddd;
}

input:focus {
  outline: none;
  border-color: #ffc9e0;
  background-color: rgba(255, 255, 255, 0.05);
}

.login-btn {
  width: 100%;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #a4508b, #5f0a87);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.login-btn:hover {
  background: linear-gradient(135deg, #ffc9e0, #ff8ab4);
  color: #000;
  box-shadow: 0 6px 18px rgba(255, 201, 224, 0.4);
}