<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='explore.css') }}">
</head>
<body>
    <div class="explore-container">
        <h1 class="explore-title">🔮 Explore Your Stars 🔮</h1>
        <p class="explore-subtitle">Choose your path to reveal your zodiac secrets...</p>

        <div class="card-container">
            <div class="card">
                <img src="{{ url_for('static', filename='images/Ethereal Spiral Galaxy.jpeg') }}" alt="Daily Horoscope">
                
                {% if user_id %}
                    <a href="{{ url_for('daily_horoscope', user_id=user_id) }}"class="btn">Read Today's Horoscope</a>
                {% else %}
                    <a href="/login">Login to See Your Horoscope</a>
                {% endif %}
                
            </div>
            
            <div class="card">
                <img src="{{ url_for('static', filename='images/lucky color.jpeg') }}" alt="Color Suggestion">
                <a href="{{ url_for('lucky_colors', user_id=user_id) }}" class="btn">Color Suggestion</a>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='images/personality.jpeg') }}" alt="Personality Matcher">
                <a href="{{ url_for('compatibility_page', user_id=user_id) }}" class="btn">Personality Matcher</a>
            </div>


            <div class="card">
                <img src="{{ url_for('static', filename='images/birthday countdown.jpeg') }}" alt="Birthday Countdown">
                <a href="{{ url_for('countdown_page', user_id=user_id) }}" class="btn">Birthday Countdown</a>
            </div>

        </div>
    </div>
    <footer class="page-footer">
        <p>&copy; 2025 Zoroscope ✨ All rights reserved.</p>
    </footer>
</body>
</html>
